.container {
    margin: 36px auto;
    width: 100%;
    max-width: 800px;
}

.heading {
    font-size: 20px;
    padding: 16px 0;
    color: rgb(0, 0, 0);
    text-align: start;
}

.search-label {
    position: relative;
}

.container input {
    width: 100%;
    padding: 8px;
    padding-left: 26px;
    font-size: 16px;
    color: #444;
    box-sizing: border-box;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 4px;
    left: 8px;
    font-size: 12px;
    color: rgb(85, 84, 84);
}